.SWITCH {
    font-size: 20pt;
    font-family: Arial, helvetica, "sans-serif";
    color: ultramarine;
    background: wheat;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

p {
    font-family: "Times New Roman", times, Serif;
    font-size: 12pt;
    color: purple;
    text-align: justify;
    margin-left: 10%;
}

h1 {
    font-size: 16pt;
    color: teal;
    text-decoration: underline;
    text-align: center;
}

.OVER {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
